<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="MockActivityListener" type="MS.EventSemantics.Monitoring.Test.MockActivityListener, EventSemantics.Monitoring.Test" />
    <alias alias="IActivityListener" type="MS.EventSemantics.Monitoring.IActivityListener, EventSemantics.Monitoring" />
    <container>
      <register type="IActivityListener" mapTo="MockActivityListener" name="MockActivityListener"/>
    </container>
  </unity>
</configuration>